body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

input{
    width:100%;
    height: 20px;
}
input[type= submit]{
    background-color: green;
    color: white;
    height: 25px;
}

/*desktop*/
@media only screen and (min-width: 768px) {



    form {
        display: inline-block;
     
        padding: 20px;
        width: 18%;
        height: 200%;
        margin: 2%;

        box-shadow: 5px 6px #999ea5;
    }



    h1{
        text-align: center ;
        margin:10px 55px 5px 0px;
    }


    .container{
        position:fixed;
        min-width: 1500px;
        height: 200px;
        left:36%;

    }
}



@media only screen and (max-width: 768px) {



    form {

        display: block;
        text-align: center;
        border: 2px solid #ee8181;

        border-radius: 5px;
        padding: 20px;
        width: 30%;
        height:350px;

        margin: 2%;

        box-shadow: 5px 6px #999ea5;
    }
    h1{
        text-align: center ;
        margin:10px 55px 5px 90px;
    }
    .container{

        position: fixed;
        left: 36%;
        min-width:750px;
    }
}